
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

.table th,
.table td {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
}

.table th {
  background-color: var(--header-bg-color);
}
