.dashboard {
    padding: 1rem;
  }
  
  .htwo{
    font-family: "Montserrat", sans-serif;

  }  .dashboard-paper {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  
  .dashboard h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333333;
  }
  